{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_head %}

{% block title %}Home - Let us Talk{% endblock %}

{% block content %}
    <section class="intro">
        <h2>Let us Talk</h2>
        <p>
            Share your thoughts with the world. Don't be shy.
            We want to hear what you have to say. And we want to have a nice discussion.
            Therefore, we have one rule:
            Don't be brief - give us at lest 2000 words.
        </p>
        <a href="{% url 'posts_list' %}" class="growing-button">Start talking </a>
    </section>

    <section class="latest-thoughts">
        <h3>The latest thoughts: </h3>
        <div class="home-thoughts">
            {% include 'fragments/_posts_loop.html' %}
        </div>
    </section>
{% endblock %}
