{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_head %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
    <section>
        <h2>Let us Talk</h2>
        <p>
            Share your thoughts with the world.
            Don't be brief - at lest 2000 words.
        </p>
        <a href="{% url 'posts_list' %}">Start talking </a>
        <p>The latest thoughts: </p>
        <div>
            {% include 'fragments/_posts_loop.html' %}
        </div>

    </section>
{% endblock %}
