{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin-form.css' %}">
{% endblock extra_head %}
{% block content %}
    <h2>Sign up</h2>
    <form class="admin-form" method="post">
        {% csrf_token %}
        {{ form.email|placeholder:"Email" }}
        {{ form.email.errors }}
        {{ form.password1|placeholder:"Password" }}
        {{ form.password1.errors }}
        {{ form.password2|placeholder:"Password confirmation" }}
        {{ form.password2.errors }}
        <button type="submit">Sign up</button>
    </form>
{% endblock %}
