h2 {
    font-size: 3em;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: .3em;
    color: var(--primary-color);
}

section {
    text-align: center;
}

.start-link {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 2.3em;
    display: inline-block;
    margin: 1em auto;
}

.start-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2.7em;
}

.intro > p {
    font-size: 1.3em;
    line-height: 1.6em;
}

.latest-thoughts > h3 {
    color: var(--primary-color);
    font-weight: normal;
    font-size: 2.2em;
}

.home-thoughts {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

@media screen and (max-width: 700px) {
    .home-thoughts {
        flex-direction: column;
        align-items: center;
    }
}