.new-post-form {
    max-width: 20em;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid var(--primary-color);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*.errorlist {*/
/*    !*display: none;*!*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*}*/

/*.errorlist li {*/
/*    background-color: #f2dede;*/
/*    color: #a94442;*/
/*    border: 1px solid #ebccd1;*/
/*    border-radius: 4px;*/
/*    padding: 5px 10px;*/
/*    margin-bottom: 10px;*/
/*    font-size: 0.9em;*/
/*}*/


.new-post-form input {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.new-post-form button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
}

.new-post-form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.new-post-form textarea {
      max-width: 19em;
}


input[type="file"] {
    color: var(--primary-color);
    border: 1px solid #ddd;
    border-radius: 4px;
}


