/* Profile Page Styles */
.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.profile-page a {
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    padding: 10px;
    margin: 20px 0.5em 0.5em;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.profile-page a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.profile-page p {
    color: var(--text-color);
    font-size: 1.2em;
    margin: 0.5em 0;
}

.profile-page .responsive-image {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    border: 3px solid var(--primary-color);
}

.card-or-remove {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.profile-posts > * {
    margin-bottom: 2em;

}

.profile-posts .delete-button {
    font-size: 7em;
    color: var(--text-color);
    transition: transform 0.3s ease;

}

.profile-posts .delete-button:hover {
    color: var(--primary-color);
    transform: scale(1.05);

}

@media screen and (max-width: 600px) {
    .profile-page {
        padding: 1em;
    }

    .profile-page h2 {
        font-size: 1.5em;
    }

    .profile-page p {
        font-size: 1em;
    }

    .card-or-remove {
        flex-direction: column;
        gap: 1em;
    }
}