.selected {
    background-color: var(--primary-color);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    color: white;
}

.reactions-array {
    position: absolute;
    right: 1em;
    bottom: -14px;
}

.reactions button {
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    padding: 0.7em;
}

.reactions button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
}