.thread {
    border: 1px solid #ddd;
}

.thread * {
    line-break: anywhere;
}

.thread-title {
    font-size: 1.3em;
    color: var(--title-color);
    margin-bottom: .7em;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    padding: .6em;
    padding-bottom: 2em;
    line-height: 1.3em;

}

.initial-comment {
    position: relative;
}

.comment {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: .6em;
    margin-bottom: 1em;
    margin-top: .5em;
    margin-left: 2em;
    border: 1px solid #ccc;
    position: relative;
    padding-bottom: 2em;
    font-size: 1.2em;
}

.comment-author {
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
    color: var(--text-color);
}

