<div class="reactions">
    <form action="{% url url_name id %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="reaction_type" value="like"
                class="{% if user_reactions.like %}selected{% endif %}">
            👍 {{ reactions_count.like|default:0 }}</button>
        <button type="submit" name="reaction_type" value="heart"
                class="{% if user_reactions.heart %}selected{% endif %}">
            ❤️ {{ reactions_count.heart|default:0 }}</button>
        <button type="submit" name="reaction_type" value="brain"
                class="{% if user_reactions.brain %}selected{% endif %}">
            🧠 {{ reactions_count.brain|default:0 }}</button>
    </form>
</div>