{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/threads.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reactions.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_thoughts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <title>{% block title %}My Django Site{% endblock title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% include 'fragments/_navigation.html' %}
<main>
    {% block content %}
        <!-- Default content goes here if not overridden -->
    {% endblock content %}
</main>
<footer>
    <div class="footer-content">
        <div class="footer-content">
            <p>Made By Kristiyana</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kristiyana-milcheva-9a2a84240/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/kis619" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<script>
    document.getElementById('logout-link').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('logout-form').submit();
    });
</script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
